**/.git
**/.gitignore
**/.gitattributes
**/.github
**/.dockerignore
**/Dockerfile
**/.vscode
**/.vs
**/.vscodesettings.json
**/appsettings.*.json
!appsettings.Production.json
**/*.user
**/*.suo
**/*.sln.docstates
**/bin
**/obj
**/.DS_Store
**/.env
**/.env.local
**/.env.*.local
**/node_modules
**/.claude
**/test
**/tests
**/TEST
**/TESTS
**.md
**.MD
**/README
**/CHANGELOG
**/LICENSE
**/LICENSE.txt
**/.nuget
**/.nupkg
**/*.trx
**/.coverage
**/coverage
**/TestResults
**/packages
**/GoogleCalendarTokens
**/request.json
**/SQL
